
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/reserva/agregar" routerLinkActive="active"><i class="fas fa-plus-circle"></i>ADD Reserva</a>
        </li>
      
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Rut" aria-label="Search" name="resultbusqueda"[(ngModel)]="resultbusqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
      </ul>
    </div>

    </div>
  </nav>
 
<div class="col-md-3" *ngFor="let res of reserva">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <p>Id Producto: {{res.id_reserva}}</p>
        <button class="btn btn-danger" (click)="borrarReserva(res.id_reserva)">
          <i class="far fa-trash-alt"></i>

        </button>
      </div>
      <div class="card-body" >
        <p>Rut: {{res.rut}}</p>
        <p>Email: {{res.email}}</p>
        <p>Nombre: {{res.nombre}}</p>
        <p>Telefono: {{res.telefono}}</p>
        <p>Fecha inicio: {{res.fecha_inicio| date: 'dd-MM-yyyy' }}</p>
        <p>Fecha salida: {{res.fecha_salida| date: 'dd-MM-yyyy' }}</p>
        <p> cantidad personas: {{res.cantidad_personas}}</p>
        <p>Tipo Habitacion: {{res.tipo_habitacion}}</p>
        <a [routerLink]="['/reserva/editar', res.id_reserva]" class="btn btn-info btn-block">
          EDITAR PRODUCTO
        </a>
      </div>
      </div>
    </div>
 
    