<div class="mar">
  <h1> {{( pedido.id_pedido) ? 'Editar' :'Nuevo'}} Pedido</h1>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">

      <div fxFlex="100" fxLayout="column">

              <mat-form-field>
                  <mat-label>id pedido</mat-label>
                  <input matInput [(ngModel)]= "pedido.id_pedido" type="number" required>
              </mat-form-field>


              <mat-form-field>
                  <mat-label>nombre proveedor</mat-label>
                  <input matInput  [(ngModel)]="pedido.nombre_proveedor" type="text" required>
              </mat-form-field>

          <mat-form-field>
              <mat-label>Rut Proveedor</mat-label>
              <input matInput [(ngModel)]="pedido.rut_proveedor" type="text" required>
          </mat-form-field>

          <mat-form-field>
              <mat-label>fecha Emisión</mat-label>
              <input matInput [(ngModel)]="pedido.fecha_emision" type="date" required>
          </mat-form-field>

        
          <mat-form-field>
              <mat-label>TOTAL $</mat-label>
              <input matInput [(ngModel)]="pedido.total" type="number" required>
          </mat-form-field>

         
          <div style=" margin: auto; width: 80%">
            <table mat-table [dataSource]="ds" class="mat-elevation-z8" #tabla1 style="width: 90%;margin-bottom: 1rem;">
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let detalle"> {{detalle.codigo}} </td>
              </ng-container>
          
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let detalle"> {{detalle.descripcion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let detalle"> {{detalle.precio}} </td>
              </ng-container>

              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let detalle"> {{detalle.Cantidad}} </td>
              </ng-container>
              <ng-container matColumnDef="sub_total">
                <th mat-header-cell *matHeaderCellDef> subTotal </th>
                <td mat-cell *matCellDef="let detalle"> {{detalle.sub_total}} </td>
              </ng-container>
          
              <ng-container matColumnDef="borrar">
                <th mat-header-cell *matHeaderCellDef> Borra? </th>
                <td mat-cell *matCellDef="let j = index;">
                  <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                    Borra?
                  </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            <button mat-raised-button (click)="abrirDialogo()">Agregar artículo</button>
          </div>