<mat-card class="mt-5">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-2">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Busqueda</mat-label>
                <input type="text" placeholder="rut proveedor" aria-label="Busqueda" matInput [(ngModel)]="termino"
                    [matAutocomplete]="auto" (input)="buscando()">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="opcionSeleccionada($event)">
                    <mat-option *ngFor="let Pedido of pedido" [value]="pedido">
                        {{pedido.rut_proveedor}}
                    </mat-option>
                    <mat-option value="" *ngIf=pedido.length===0 && termino.trim().length>0">
                        No existen registros que coincidan con : {{termino}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a class="col-1 float-end" routerLink="/pedido/agregar">
                <button mat-button color="primary" mat-icon-button matTooltip="Agregar Pedido">
                    <mat-icon>add</mat-icon>
                </button>
            </a>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="id_pedido">
                    <th mat-header-cell *matHeaderCellDef> id pedido</th>
                    <td mat-cell *matCellDef="let element"> {{element.id_pedido}} </td>
                </ng-container>

                <ng-container matColumnDef="rut_proveedor">
                    <th mat-header-cell *matHeaderCellDef> Rut Proveedor </th>
                    <td mat-cell *matCellDef="let element"> {{element.rut_proveedor}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre_proveedor">
                    <th mat-header-cell *matHeaderCellDef> Nombre proveedor </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_proveedor}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha_emision">
                    <th mat-header-cell *matHeaderCellDef>  Fecha emision </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha_emision}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef> Update </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="accent">
                            <mat-icon class="mat-18">system_update</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn">
                            <mat-icon class="mat-18">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

</mat-card>


