

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/productos/listado" routerLinkActive="active"><i class="fas fa-regular fa-grid"></i>Listar Productos</a>
        </li>
       
      </ul>
    </div>
  </nav>


<div class="col-md-5 offset-md-2">
    <h1 class="text-center"> {{( id_producto) ? 'Editar' :'Nuevo'}} Producto</h1>

    <div class="card">
        <div class="card-body">
            <form class="col-md- offset-md-2">
              <div class="form-group">
              <mat-form-field>
                <mat-label>Codigo</mat-label>
                <input name="codigo" matInput type="text" [(ngModel)]="codigo" class="form-control" placeholder="Codigo" autofocus required>
              </mat-form-field>
            </div>
              <div class="form-group">
              <mat-form-field >
                <mat-label>nombre producto</mat-label>
                <input name="nombre_producto" matInput type="text" [(ngModel)]="nombre_producto" class="form-control" placeholder="nombre producto" required>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field >
                <mat-label>Familia</mat-label>
                <input name="familia" matInput type="text" [(ngModel)]="familia" class="form-control" placeholder="familia" required>
              </mat-form-field>
            </div>

          <mat-form-field>
              <input matInput placeholder="Fecha Vencimiento" [matDatepicker]="fecha_vencimiento" name="fecha_vencimiento" ngModel #dateCtrl="ngModel" required readonly/>
                <mat-datepicker-toggle [for]="fecha_vencimiento" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #fecha_vencimiento ></mat-datepicker>
          </mat-form-field>
              <form>
              <div class="form-group" required aparencie="fill"> 
                <select name="tipo_producto"(change)="CambiarCategoria($event)" class="form-control">
                  <option class="text-center">---Select---</option>
                  <option *ngFor="let categoria of CategoriaLista" [value]="categoria.NOMBRE_CATEGORIA">
                    {{categoria.NOMBRE_CATEGORIA}}
                  </option>
                </select>
              </div>
              </form>

              <div class="form-group">
                <mat-form-field >
                  <mat-label>Precio</mat-label>
                  <input name="precio" matInput type="number" [(ngModel)]="precio" class="form-control"  required>
                </mat-form-field>
              </div>
              
              <div class="form-group">
                <mat-form-field >
                  <mat-label>Stock</mat-label>
                  <input name="stock" matInput type="number" [(ngModel)]="stock" class="form-control"  required>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field >
                  <mat-label>Stock Critico</mat-label>
                  <input name="stock_critico" matInput type="number" [(ngModel)]="stock_critico" class="form-control"  required>
                </mat-form-field>
              </div>
                
            </form>

        </div>
    </div>
</div>

<div class="col-md-4">
  <h1 class="text-center">Previsualización creación de producto</h1>
    <div class="card card-body text-center">
     
      <h3>{{id_producto}}. {{nombre_producto== '' ? 'Nombre Producto' : nombre_producto}}</h3>
      <p>{{codigo== 0 ? 'Codigo' : codigo}}</p>
      <p>{{familia == '' ? 'Familia' : familia}}</p>
      <p>{{fecha_vencimiento}}</p>
      <p>{{SelectedValue == 0 ? 'tipo producto' :  SelectedValue}}</p>
      <p>{{precio == 0 ? 'Precio' : precio}}</p>
      <p>{{stock == 0 ? 'Stock' : stock}}</p>
      <p>{{stock_critico == 0 ? 'Stock Critico' : stock_critico}}</p>
    </div>
    <button class="btn btn-success btn-block" (click)="edit? addProducto() : updateProducto()">
      guardar
  </button>
  </div>